.grid {
    display: flex;
    gap: 1rem; 
    height: calc(100% - 15px);
    margin-bottom: 15px;    
}

.star-filled {
    color: gold; 
}
  
.star-empty {
    color: #ccc;
}

.star {
    font-size: 20px;
}


