.light-mode {
    background-color: white;
    color: black;
}
  
  .dark-mode {
    background-color: #333;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    margin-bottom: 15px;  
    justify-content: center; 
}

.cv-card {
    flex-grow: 1;
}

.star-filled {
    color: gold; 
}
  
.star-empty {
    color: #ccc;
}

.star {
    font-size: 20px;
}


